body{
    background-color: rgb(244, 251, 255);
    max-width: 1440px;
    margin: 0 auto;
}

header{
    background-image: url('./Assets/Hero-bg.png');
    max-width: 1440px;
    height: 698px;
    margin: 0px auto;
    text-align: center;
}
.nav{
    display: flex;
    justify-content: space-between;
    padding: 50px 150px;

}
.logo{
    font-size: 36px;
    font-weight: bold;
}
button{
    background-color: #4E47FF;
    padding: 12px 36px;
    color: aqua;
    font-size: 16px;
    border-radius: 10px;
    border:none ;
}
.banner-section{
    padding: 158px 267px 237px 267px;
}
.banner-section h1 {
    font-size: 65px;
    font-weight: bold;
}

/* Action styles */
.action{
    display: flex;
    justify-content: space-between;
    justify-content: center;
    justify-items: center;
    gap: 220px;
    padding: 116px 150px;
    max-width: 1140px;
}
.action-text h1{
    font-size: 42px;
    font-weight: bold;
}
.action-text h3{
    font-size: 24px;
    opacity: 50%;
    
}
.action-img img{
    border-radius: 48px;
}

/* user styles */

.user-section h3 {
    align-items: center;
    font-size: 50px;
}
.user-section{
    text-align: center;
    max-width: 1140px;
    margin: 116px 150px;
    padding: 50px 142px;
    background-color:rgba(78, 71, 255, 0.1);
    border-radius: 24px;
}
.user-section h3 {
    font-size: 38px;
    color: rgba(37, 36, 50, 1);
    text-align: center;
    margin-top: 0px;
}
.user{
    display: flex;
    justify-content: space-between;
    justify-content: center;
    gap: 158px;
    margin: 116px 150px;
    margin-bottom: 0px;
    margin-top: 0px;
    
}
.user h1 {
    font-size: 80px;
    color: #4E47FF;
    margin-bottom: 5px;
}
  
.user-text h4 {
    color: rgba(0, 0, 0, 0.5);
    font-size: 20px;
    margin-top: 0px;
}

/* user-review */
.user-says{
    margin-top: 137px;
    margin-bottom: 137px;
    
    
}
.user-says h1{
    text-align: center;
    font-size: 42px;
}
.user-review{
    display: flex;
    justify-content: center;
    margin: 0px 150px;
    gap: 20px;
    
}

.user-flex{
    display: flex;
    justify-content: flex-start;
    gap: 20px;
}
.user-design{
    background-color:rgba(255, 255, 255, 0.5);
    box-shadow: 2px 4px 10px rgba(0, 0, 0, 0.2);
    padding: 24px;
    border-radius: 14px;
}
.user-design img {
    height: 100px;
    width: 100px;
    border-radius: 50%;
}
.user-flex h3{
    margin-bottom: 5px;
}
.user-flex h4{
    margin-top: 0px;
}

/* focus-better */
.focus-better{

    text-align: center;
    background-color:rgba(255, 255, 255, 0.5);
    box-shadow: 2px 4px 10px rgba(0, 0, 0, 0.2);
    padding: 71px 150px ;
    margin:137px 150px ;
    /* max-width: 1140px; */
    text-align: center;
    border-radius: 14px;
}
.focus-better img{
    width: 840px;
    height: 368px;
    border-radius: 48px;
    padding: 20px;
}
